$background-dark-color: black;
$background-light-color:#FFFFFF;
$text-dark-color:black;
$text-headline-light: #818181;
$font-content: Arial Bold;

* {
    margin: 0;
}

body {
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.15;
}

.wrapper {
    margin: 0 auto;
    width: 1400px;
}



.products {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 250px)
}

.basket {
    margin: 0 auto;
}

.product_item {
    border-radius: 3px;
    box-shadow: 0 5px 15px #3C93D5;
    margin: 30px;
    display: block;
    width: 230px;
    height: 400px;
    text-align: center;
    background-color: #FFFFFF;
    transition: 1s;

    img {
        margin: 15px;
    }

    p {
        color: #818181;
        font-family: 'Roboto';
        font-weight: 500;
        height: 40px;
    }
    
    a.show_product_btn{
        background:#eee;
        color:#088;
        text-decoration:none;
        display:block;
        width:160px;
        text-align:center;
        margin: 0 auto;
        padding:10px 10px;
        transition:all 0.3s;
        }
       a.show_product_btn:hover{
        box-shadow:0px -5px 0 #088 inset;
      }
}




// basket

.product_basket {
    
    border-radius: 3px;
    box-shadow: 0 5px 15px #3C93D5;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 250px;
    text-align: center;
    background-color: #FFFFFF;
    transition: 1s;


    p {
        color: #088;
        font-family: 'Roboto';
        font-weight: 500;
        height: 40px;
    }

    img {
        margin-left: 40px;
    }
        
    a.show_product_btn{
        background:#eee;
        color:#088;
        text-decoration:none;
        display:block;
        height: 25px;
        text-align:center;
        margin: 0 auto;
        padding:10px 10px;
        transition:all 0.3s;
    }
       a.show_product_btn:hover{
        box-shadow:0px -5px 0 #088 inset;
    }
}

.product_item:hover {
    transform: scale(1.03);
}

.pagination_btn {
    margin: 20px auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    a{
        margin-left: 5px;
        margin-right: 5px;
    }
}

form {

    input.show_product_btn {
        font-size: 20px;
        color: #088;
        font-family: 'Roboto';
        font-weight: 500;
        background:#eee;
        text-decoration:none;
        display:block;
        padding: 40px 5px;
        height: 45px;
        text-align:center;
        margin: 0 auto;
        padding: 10px 10px;
        transition:all 0.3s;
        border: none;
    }

    input.show_product_btn:hover{
        box-shadow:0px -5px 0 #088 inset;
    }
}

.order {
    
    padding: 40px;
    width: 30%;
    border-radius: 3px;
    box-shadow: 0 5px 15px #3C93D5;
    margin: 10px auto;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}

.product_item:hover {
    transform: scale(1.03);
}

.noproducts {
    width: 100%;
    text-align: center;
    padding-top: 230px;
    padding-bottom: 230px;
    color: red;
}