* {
  margin: 0;
}

body {
  margin: 0 auto;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.15;
}

.wrapper {
  margin: 0 auto;
  width: 1400px;
}

.products {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (250px)[4];
      grid-template-columns: repeat(4, 250px);
}

.basket {
  margin: 0 auto;
}

.product_item {
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 15px #3C93D5;
          box-shadow: 0 5px 15px #3C93D5;
  margin: 30px;
  display: block;
  width: 230px;
  height: 400px;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.product_item img {
  margin: 15px;
}

.product_item p {
  color: #818181;
  font-family: 'Roboto';
  font-weight: 500;
  height: 40px;
}

.product_item a.show_product_btn {
  background: #eee;
  color: #088;
  text-decoration: none;
  display: block;
  width: 160px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_item a.show_product_btn:hover {
  -webkit-box-shadow: 0px -5px 0 #088 inset;
          box-shadow: 0px -5px 0 #088 inset;
}

.product_basket {
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 15px #3C93D5;
          box-shadow: 0 5px 15px #3C93D5;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 250px;
  text-align: center;
  background-color: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.product_basket p {
  color: #088;
  font-family: 'Roboto';
  font-weight: 500;
  height: 40px;
}

.product_basket img {
  margin-left: 40px;
}

.product_basket a.show_product_btn {
  background: #eee;
  color: #088;
  text-decoration: none;
  display: block;
  height: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product_basket a.show_product_btn:hover {
  -webkit-box-shadow: 0px -5px 0 #088 inset;
          box-shadow: 0px -5px 0 #088 inset;
}

.product_item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.pagination_btn {
  margin: 20px auto;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_btn a {
  margin-left: 5px;
  margin-right: 5px;
}

form input.show_product_btn {
  font-size: 20px;
  color: #088;
  font-family: 'Roboto';
  font-weight: 500;
  background: #eee;
  text-decoration: none;
  display: block;
  padding: 40px 5px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
  padding: 10px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

form input.show_product_btn:hover {
  -webkit-box-shadow: 0px -5px 0 #088 inset;
          box-shadow: 0px -5px 0 #088 inset;
}

.order {
  padding: 40px;
  width: 30%;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 15px #3C93D5;
          box-shadow: 0 5px 15px #3C93D5;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFFFFF;
}

.product_item:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.noproducts {
  width: 100%;
  text-align: center;
  padding-top: 230px;
  padding-bottom: 230px;
  color: red;
}
/*# sourceMappingURL=style.css.map */