$background-dark-color: black;
$background-light-color:#F5F6F7;
$text-dark-color:black;

* {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 1500px;
    font-size: 18px;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: normal;
    line-height: 140%;
  }

.wrapper {
    margin: 0 auto;
    width: 1500px;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  width: 700px;
  margin: 30px auto;
  border-radius: 3px;
  box-shadow: 0 2px 17px #3C93D5;
  padding: 40px;
  
  .personal_inf{
    margin: 140px 100px;
  }

  p{
    padding: 5px;
  }
  
  .orders {
    margin-top: 60px;
  }
  
  h3 {
    margin: 20px auto;
  }

  .goods {
    color:red;
    margin: 15px auto;
  }
}

table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: white;
  border-collapse: collapse;
  text-align: center;
  margin: 40px auto;
}

th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
}

td {
  color: #669;
  padding: 9px 8px;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

tr:hover td {
  color: #6699ff;
}

input.show_product_btn {
  font-size: 20px;
  color: #088;
  font-family: 'Roboto';
  font-weight: 500;
  background:#eee;
  text-decoration:none;
  display:block;
  padding: 40px 5px;
  height: 45px;
  text-align:center;
  margin: 0 auto;
  padding: 10px 10px;
  transition:all 0.3s;
  border: none;
  margin-top: 3px;
}

input.show_product_btn:hover{
  box-shadow:0px -5px 0 #088 inset;
}